<h1>Directors</h1>

<a href="/directors/new_form">Add a New Director</a>



<table>
  <tr>
    <th>Picture</th>
    <th>Date of Birth</th>
    <th>Name</th>
    <th>Bio</th>

  </tr>
  <% @directors.each do |director| %>
  <tr>

     <td><img src="<%= director.image_url %>" width="80"></td>
        <td><%= director.dob %></td>
        <td><%= director.name %></td>
        <td><%= truncate(director.bio) %></td>


      <td>
        <a href="http://localhost:3000/directors/<%= director.id %>">Show</a>
      </td>
      <td>
        <a href="http://localhost:3000/directors/<%= director.id %>/edit">Edit</a>
      </td>
      <td>
        <a href="http://localhost:3000/delete_directors/<%= director.id %>">Delete</a>
      </td>


  </tr>
  <% end %>
</table>
